/* style for sofiadeguzman.com secondary pages */

a:link {
  color:#000;
  text-decoration:none;
}

a:visited {
  color:#000;
  text-decoration:none;
}

a:hover {
  color:#000;
  text-decoration:none;
}

img {
  border: 0px;
}

body,html {
  margin:0;
  padding:0;
  font: 14px Helvetica Neue, 'Open Sans', helvetica, sans-serif;
}

ul {
  line-height: 1.2em;
  list-style-type: none;
  text-indent:10px;
  margin:0px;
  padding:0px;
}

li {
  padding-top: 50px;
}

#arrow {
  font-size: 25px;
  position: fixed;
  top: 10px;
  left: 15px;
  width: 100%;
  text-align: left;
}

#arrow a:hover {
  opacity: 0.7;
  filter:alpha(opacity=80);
}

#journal {
  font-size: 11px;
  float: left;
  color: #000;
  padding-top: 25px;
  padding-left: calc(50% - 250px);
  padding-bottom: 75px;
}

.title {
  float: left;
  height: 10px;
  padding-right: 10px;
  padding-top: 2px;
}

.title a:hover {
  opacity: 0.7;
  filter:alpha(opacity=80);
}

.date {
  float: left;
  height: 10px;
  opacity: 0.7;
  padding-top: 2px;
}
